.boxStyle {
    background-color: #000;
    width: 100px;
    height: 100px;
}
.guessBoxContainer {
    position: fixed;
    width: 50vw;
    height: 60vh;
    border: 3px solid black;
    left: 25vw;
    top: 40vh;
}
.guessBox{
   border: #000 1px solid ;
   width: 50vw;
   height: 10vh; 
   margin-top: 1px;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
}
.guessBoxChar {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
#correct {
    background-color: green;
}
#incorrect {
    background-color: red;
}