* {
    background-color: #84543E;
}

.GameContainer {
    background-color: #D2AB99;
    position: absolute;
    left: 20vw;
    top: 5vh;
    height: 70vh;
    width: 60vw;
    border-radius: 5%;
}

.GuessContainer {
    position: absolute;
    background-color: #D2AB99;
    left: 20vw;
    top: 80vh;
    height: 90vh;
    width: 60vw;
    border-radius: 5%;
    justify-content: center;
    font-size: 2rem;
    display: grid;
    flex-direction: column;
}

.ColorContainer {
    position: absolute;
    background-color: white;
    left: 5vw;
    top: 10vh;
    height: 20vw;
    width: 20vw; 
    border-radius: 10%;
}

.RetryButton {
    position: absolute;
    left: 7vw;
    height: 5vw;
    width: 5vw;
    top: 55vh;
    background-color: #C04B4F;
    font-size: 3vw;
    border-radius: 10%;
    cursor: pointer;
}

.GuessButton {
    position: absolute;
    left: 47vw;
    height: 5vw;
    width: 5vw;
    top: 55vh;
    background-color: #60992D;
    font-size: 3vw;
    border-radius: 10%;
    cursor: pointer;
}

.AnswerBox {
    position: absolute;
    top: 55vh;
    background-color: white;
    width: 25vw;
    height: 5vw;
    left: 17vw;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.AnswerBox div {
    border: 2px solid black;
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-size: 4vw;
    overflow: hidden; 
    background-color: white;
}

.AnswerForm {
    background-color: white;
}

.AnswerForm input {
    background-color: white;
    border: none;
    width: 20vw;
    height: 12vh;
    padding-left: 2vw;
    font-size: 3vw;
}

h1 {
    background-color: #D2AB99;
}

.guessBoxContainer {
    position: absolute;
    top: 20vh;
    left:2.5vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #D2AB99;
    width: 55vw;
}

.guessRow {
    display: flex;
    gap: 5px;
    background-color: #D2AB99;
}

.numberBox {
    color: white; 
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vh;
    border: 3px solid #ccc; 
    background-color: inherit; 
}

.numberBox div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit; 
    color: inherit; 
}

