/* 
*{
    background-color: #D2AB99;;
}

.boxStyle {
    background-color: #000;
    width: 100px;
    height: 100px;
}
.guessBoxContainer {
    position: fixed;
    width: 50vw;
    height: 60vh;
    border: 3px solid black;
    left: 25vw;
    top: 40vh;
}
.guessBox{
   border: #000 1px solid ;
   width: 50vw;
   height: 10vh; 
   margin-top: 1px;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
}
.guessBoxChar {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
#correct {
    background-color: green;
}
#incorrect {
    background-color: red;
}*/
* {
    background-color: #84543E;;
}
.GameContainer {
    background-color: #D2AB99;
    position:absolute;
    left: 20vw;
    top: 5vh;
    height: 65vh;
    width: 60vw;
    border-radius: 5%;
}
.GuessContainer {
    position: absolute;
    background-color: #D2AB99;
    left: 20vw;
    top: 75vh;
    height: 60vh;
    width: 60vw;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.ColorContainer {
    position: absolute;
    background-color: white;
    left: 5vw;
    top: 5vh;
    height: 20vw;
    width: 20vw; 
    border-radius: 10%;
}
.RetryButton{
    position: absolute;
    left: 7vw;
    height: 5vw;
    width: 5vw;
    top: 50vh;
    background-color: #C04B4F;
    font-size: 3vw;
    border-radius: 10%;
    cursor: pointer;
}
.GuessButton {

    position: absolute;
    left: 47vw;
    height: 5vw;
    width: 5vw;
    top: 50vh;
    background-color: #60992D;
    font-size: 3vw;
    border-radius: 10%;
    cursor: pointer;

}
.AnswerBox{
    position: absolute;
    top: 50vh;
    background-color: white;
    width: 25vw;
    height: 5vw;
    left: 17vw;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.AnswerBox div{
    border: 2px solid black;
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-size: 4vw;
    overflow: hidden; 
    background-color: white;
}
.AnswerForm {
    background-color: white;
}
.AnswerForm input {
    background-color: white;
    border: none;
    width: 20vw;
    height: 10vh;
    padding-left: 2vw;
    font-size: 3vw;
}
h1 {
    background-color: #D2AB99;
}